application:
	errorPresenter: Core:Error
	scanComposer: false
	scanDirs: false
	mapping:
		*: \App\*Module\Presenters\*Presenter

decorator:
	\IIS\Application\UI\BaseControl:
		inject: true

session:
	expiration: 30 days
	debugger: true

tracy:
	strictMode: true
	showLocation: true
	maxLength: 500
	errorTemplate: %appDir%/CoreModule/templates/Error500/default.phtml

database:
	dsn: "mysql:host=%database.host%;dbname=%database.dbname%"
	user: %database.user%
	password: %database.password%
	options:
		lazy: true

forms:
	messages:
		FILLED: "Toto pole je povinné."
		EMAIL: "Zadejte prosím platnou e-mailovou adresu."
		MIN_LENGTH: "Zadejte prosím alespoň %d znaků."

http:
	cookieSecure: auto
	sameSiteProtection: true
	headers:
		X-Content-Type-Options: nosniff
		X-XSS-Protection: "1; mode=block"
		X-Frame-Options: DENY
		Referrer-Policy: strict-origin-when-cross-origin
	featurePolicy:
		accelerometer: none
		ambient-light-sensor: none
		autoplay: none
		camera: none
		encrypted-media: self
		fullscreen: self
		geolocation: none
		gyroscope: none
		magnetometer: none
		microphone: none
		midi: none
		payment: none
		picture-in-picture: self
		speaker: self
		usb: none
		vr: none
	csp:
		block-all-mixed-content: true
		default-src:
			- none
		script-src:
			- self
			- nonce
			- strict-dynamic
		style-src:
			- self
			- nonce
		img-src:
			- self
			- "data:"
		media-src:
			- self
		frame-src:
			- none
		font-src:
			- self
		connect-src:
			- self
		form-action:
			- self
		object-src:
			- none
		frame-ancestors:
			- none
		base-uri:
			- none
		child-src:
			- none
		manifest-src:
			- self
		sandbox:
			- allow-forms
			- allow-same-origin
			- allow-scripts
			- allow-modals

parameters:
	config:
		domainUrl:
		defaultModuleWithLayout: Core

	database:
		host:
		user:
		password:
		dbname:

	roles:
		admin:
			resources: []
		zamestnanec:
		klient:

services:
	# Application templates locator
	- \IIS\Application\Templates\TemplateLocator([%appDir%], %config.defaultModuleWithLayout%)

	# Config service
	- \IIS\Config\ConfigService(%config%)

includes:
	- ../CoreModule/core.neon
	- ../UserModule/user.neon
