<div class="container">
	<span class="text-muted">
		©{\date('Y')}
		Dominik Harmim, Matúš Burzala
		| Půjčovna kostýmů
	</span>

	<span n:if="$user->isLoggedIn() && $identity = $user->getIdentity()" class="text-muted float-right">
		{$userType}: {$identity->email}
	</span>
</div>
