{default $title = 'Stránka nenalezena'}

{block content}

<div class="card card-body box-shadow">
	<div class="row">
		<div class="col-md-12">
			<h1>Stránka nenalezena</h1>
			<p>Litujeme, ale požadovaná stránka není momentálně k dispozici.</p>
			<p>Pokračujte prosím zde <a href="{$domainUrl}">{$domainUrl}</a>.</p>
			<p>kód chyby: {$code}</p>
		</div>
	</div>
</div>
