{default $title = 'Výpis kostýmů'}

{block content}

<div class="row">
	<div class="col-md-12">
		<h3>{$title}</h3>
		<hr class="my-4">
	</div>

	<div n:if="$user->isInRole(\App\UserModule\Model\AuthorizatorFactory::ROLE_EMPLOYEE)" class="col-md-12">
		<a n:href=":Costume:Costume:add" class="btn btn-success btn-lg">Vytvořit</a>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		{control costumeListGrid}
	</div>
</div>
